body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:#08395F;
    width: 300px;
}

#display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f0f0f0;
}

button:active {
    background-color: #ccc;
}
